* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: #33181847;
    opacity: 0.9;
    border-bottom: 3px solid #036699;
}

.head {
    background-image: url(../img/download.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    overflow: hidden;
}

.overlay {
    background: rgb(0, 0, 0, 0.7);
    min-height: 700px;
}

.home {
    padding-top: 150px;
    padding-bottom: 50px;
    overflow: hidden;
}

.fa {
    background: #fff;
    color: #008ed6;
    padding: 4px;
    font-size: 30px;
    border-radius: 5px;
}

.explore {
    padding: 50px 0px;
    background: #333;
    color: #fff;
}

.learn {
    padding-top: 50px;
    padding-bottom: 70px;
    background: #fff;
}

.rs {
    background: #000;
    color: #fff;
    padding: 4px;
    font-size: 30px;
    border-radius: 5px;
}

.create {
    padding: 50px 0px;
}

.passion {
    padding: 50px 0px;
    background: #333;
    color: #fff;
}

.share {
    padding: 50px 0px;
}

.share-create {
    padding: 50px 0px;
    background: #fff;
    color: #333;
}
